*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto',sans-serif;   
}
.navbar1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

.toggle-btn1{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
    /* background: black; */
}

.toggle-btn1 span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;
}

.toggle-btn1 span:nth-child(1){
    top: 0;
}

.toggle-btn1 span:nth-child(3){
    top: 100%;
}

.logo{
    margin: -10px 30px 0;
}

.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
    border: 1px solid black;
    margin: auto;
    margin-left: 300px;
}


.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 18px;
    text-transform: capitalize;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}

.user-option{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 30px;
}

.user-option .fa-solid{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
    color: gray;
    /* background-color: red; */
}

.user-dp {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
  
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*  side bar  */
.side-bar{
  
   
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 10px;
   

}
.links{
    display:block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links  .fa-solid{
    height: 25px;
    margin-right: 20px;

}

.links:hover,.links.active{
    background: rgba(0, 0, 0, 0.1);

}

.seprator{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* filters  */
.filters{
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    background-color: #fff;
    border-top:1px solid #dbdbdb ;
    border-bottom: 1px solid #dbdbdb ;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.filters::-webkit-scrollbar{
    display: none;
}


.filter-option{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
   
}

.filter-option.active{
    color: #fff;
    background: #242424;
}

/* video container */

.video-container{
    width: calc(100% - 250px);
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 5px;
    overflow-x: hidden;
    /* background: #000; */
    gap: 50px 
    ;
    text-align: center;
    margin-top: 100px;

}



@media screen and (min-width:340px) and (max-width : 480px) {
  .side-bar{
    background-color: blue;
    display: none;
    margin-left: -300px;
  }

  .filters{
    display: none;
  }

  .navbar1{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}
  .search-box{
    margin-left: 0px;
    border: 1px solid red;
    width: 100%;
    margin-right: 100px;
   
  }
  .toggle-btn1{
    display: none;
  }

  .video-container{
    /* width: calc(100% - 250px); */
    width: 95%;
    margin-top: 140px;
    margin-left: -5px ;
    margin-right: 10px;
   display: grid;
    grid-template-columns: repeat(1,1fr);
   overflow-x: hidden;
    gap: 60px ;
   padding-top: 30px;
   padding-bottom: 20px;
}


.user-option{
    /* height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 30px; */
    display: none;
}

.user-option .fa-solid{
    /* height: 80%;
    margin-right: 20px;
    cursor: pointer;
    color: gray; */
    /* background-color: red; */
    visibility: hidden;
}

.user-dp {
    /* cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
   */
}

.user-dp img{
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}


.search-bar{
    width: 100%;
    height: 100%;
    border: 2px solid #dbdbdb;
    /* padding: 0 20px; */
    font-size: 18px;
    text-transform: capitalize;
    /* margin-left: -60px; */
}
}